# Database
POSTGRES_USER=mytrails
POSTGRES_PASSWORD=
POSTGRES_DB=mytrails_development
DATABASE_URL=postgresql://mytrails:password@localhost:5432/mytrails_test

# Rails
SECRET_KEY_BASE=
RAILS_ENV=development
RAILS_LOG_LEVEL=info
RAILS_MAX_THREADS=5
WEB_CONCURRENCY=2

# Background jobs
SOLID_QUEUE_IN_PUMA=true

# Mailtrap (development email)
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=

# Production only
# APP_HOST=yourdomain.com
