.relative:hover .absolute {
  display: block;
}

.relative .absolute {
  display: none;
}

  @keyframes marquee {
    0% {
      transform: translateX(30%);
    }
    50% {
      transform: translateX(-30%);
    }
    100% {
      transform: translateX(30%);
    }
  }

  .animate-marquee {
    animation: marquee 1s linear infinite;
  }